site_name: Survana
nav:
  - API: index.md

plugins:
  - search
  - mkdocstrings:
      default_handler: python
      handlers:
        python:
          rendering:
            docstring_style: google
